In [1]:
import pandas as pd

In [3]:
data_set = pd.read_csv(r'Z:\ML\files\decisionTree_Data.csv')
data_set

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     27   57000          0
4     19   76000          0
..   ...     ...        ...
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

[400 rows x 3 columns]

In [14]:
# dividing the dataframe into x(input) and y(output)
x = data_set.iloc[:,[0,1]].values
y = data_set.iloc[:,2].values


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [23]:
#feature scaling
from sklearn.preprocessing import StandardScaler

#converting into machine language
st_x = StandardScaler()
x_train = st_x.fit_transform(x_train) #TRAINING DATA
x_test = st_x.transform(x_test) #TESTING DATA
#x_test
#x_train

In [26]:
#fitting decision tree classifier to the training set
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [28]:
#predicting the output of testing data
y_pred = classifier.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [32]:
#creating the confusion matrix
# from sklearn.metrics import confusion_matrix
from sklearn import metrics
cm = metrics.confusion_matrix(y_test,y_pred)
cm

array([[61,  7],
       [ 3, 29]], dtype=int64)

In [33]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.9